/* Genel stil ayarları */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Başlık stil ayarları */
h1 {
    text-align: center;
    margin-top: 20px;
}

/* Veri listesi stil ayarları */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

strong {
    font-weight: bold;
}
