<!DOCTYPE html>
<html>
<head>
    <title>Canlı Deprem Verileri</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="icon"  href="{% static 'images/depico.png' %}">
</head>
<body>
    <div class="container">
        <h1>Canlı Deprem Verileri</h1>
        
        {% if data %}
        <ul>
            {% for entry in data %}
            <li>
                <strong>Yer:</strong> {{ entry.Yer }} <br>
                <strong>Tarih:</strong> {{ entry.Tarih }}<br>
                <strong>Büyüklük:</strong> {{ entry.Büyüklük }}<br>
                <strong>Derinlik:</strong> {{ entry.Derinlik }}<br>
                
                
                
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Veri çekilemedi.</p>
        {% endif %}
    </div>
</body>
</html>

